@using logic;
@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="startSimulation">Start</button>

@foreach (var simulationNode in simulationNodes)
{
  <div>
    @simulationNode.Id
  </div>
}


@code {
  List<SimulationNode> simulationNodes = [];
  void startSimulation()
  {
    ServerNode nodeOne = new();
    ServerNode nodeTwo = new();
    ServerNode nodeThree = new();

    SimulationNode simulationOne = new(nodeOne);
    SimulationNode simulationTwo = new(nodeTwo);
    SimulationNode simulationThree = new(nodeThree);

    nodeOne.AddServersToServersCluster([simulationTwo, simulationThree]);
    nodeOne.AddServersToServersCluster([simulationOne, simulationThree]);
    nodeOne.AddServersToServersCluster([simulationOne, simulationTwo]);

    simulationNodes = [simulationOne, simulationTwo, simulationThree];
  }
}