@using Logic;
@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="startSimulation">Start</button>

<div class="row">
  @foreach (var simulationNode in simulationNodes)
  {
    <div class="col m-2 rounded border border-2 p-2">
      <div>
        My Id is @simulationNode.Id
      </div>
      <div>
        My State is @simulationNode.State
      </div>
      <div>
        The Term is @simulationNode.Term
      </div>
      <div>The current leader is @simulationNode.ClusterLeaderId</div>
    </div>
  }
</div>

@code {
  List<SimulationNode> simulationNodes = [];
  Timer? timer;
  void startSimulation()
  {
    ServerNode nodeOne = new();
    ServerNode nodeTwo = new();
    ServerNode nodeThree = new();

    SimulationNode simulationOne = new(nodeOne);
    SimulationNode simulationTwo = new(nodeTwo);
    SimulationNode simulationThree = new(nodeThree);

    nodeOne.AddServersToServersCluster([simulationTwo, simulationThree]);
    nodeTwo.AddServersToServersCluster([simulationOne, simulationThree]);
    nodeThree.AddServersToServersCluster([simulationOne, simulationTwo]);

    simulationNodes = [simulationOne, simulationTwo, simulationThree];

    timer = new Timer(_ =>
    {
      InvokeAsync(StateHasChanged);
    }, null, 0, 200);
  }
}